/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave+Display&display=swap');

/* Define CSS Variables */
:root {
  --primary-color: #78E2DF; /* Tianny Bleu */
  --secondary-color: #FFFFFF; /* White */
  --accent1-color: #6DA84D; /* Asparagus */
  --accent2-color: #FAA40F; /* Orange(web) */
  --heading-font: 'PT Serif', serif;
  --paragraph-font: 'Sedgwick Ave Display', cursive; 
}

/* Header */
header.grid { /* Added class "grid" */
  display: grid; /* Using CSS Grid */
  grid-template-columns: auto 1fr; /* Logo takes auto width, nav takes remaining space */
  align-items: center; /* Align items vertically */
}

header img {
  max-width: 100%; /* Ensure logo fits within its container */
}


nav {
  display: flex; /* Use Flexbox for navigation links */
  justify-content: space-around; /* Distribute links evenly */
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;

}

/* Footer */
footer {
  display: flex; /* Use Flexbox for social links */
  justify-content: flex-end; /* Align social links to the right */
}

footer nav.sociallinks {
  margin-right: 20px; /* Add some space between social links and footer text */
}

footer nav.sociallinks a {
  margin-left: 10px; /* Add space between social icons */
}


