/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave+Display&display=swap');

/* Define CSS Variables */
:root {
  --primary-color: #78E2DF;
  /* Tianny Bleu */
  --secondary-color: #FFFFFF;
  /* White */
  --accent1-color: #6DA84D;
  /* Asparagus */
  --accent2-color: #FAA40F;
  /* Orange(web) */
  --heading-font: 'PT Serif', serif;
  --paragraph-font: 'Sedgwick Ave Display', cursive;
}
* {
  box-sizing: border-box;
}
header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
  ;
}

/* Header */
.grid {
  /* Added class "grid" */
  display: grid;
  /* Using CSS Grid */
  grid-template-columns: 150px auto;

  align-items: center;
  /* Align items vertically */
}

header img {
  max-width: 100%;

}


nav {
  display: flex;
  /* Use Flexbox for navigation links */
  justify-content: space-around;
  /* Distribute links evenly */
  background-color: var(--accent1-color);
  padding: 2em 0;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  color: var(--accent1-color);
  background-color: var(--secondary-color);
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background: #3e3e3e;
  color: #fff;
  padding: 20px;
}

.sociallinks {
  background: unset;
  /* Add some space between social links and footer text */
  display: flex;
  justify-content: space-around;
  justify-self: end;
  padding: 0;
}

.sociallinks img {
  width: 50px;
}

.sociallinks a {

  margin-left: 10px;

  text-decoration: none;
  padding: 0;
  margin: 0 5px;
}


/* About Us hero */
.hero {

  position: relative;
}

.hero>img {
  width: 100%;

}

.hero h1 {
  position: absolute;

  top: 30px;

  width: 100%;

  text-align: center;
  color: #e3e3e3;
}

.hero article {
  background-color: rgba(255, 255, 255, .35);

  position: absolute;

  top: 100px;

  left: 50px;

  right: 50px;

}

.hero article img {

  float: right;

  margin: 25px;

  width: 200px;

}

.hero article p {

  color: #000;

  font-size: 18px;

  text-align: left;
  
  padding: 20px;
}

.oogle-map{
  border: 0;
}



section figure {
  max-width: 150px; /* or any desired width */
  margin: 0 auto; /* centers the images */
  display: inline-block; /* ensures they are on the same row */
}

section form {
  max-width: 250px; /* or any desired width */
  margin-bottom: 20px; /* adds margin at the bottom */
}

section form {
  display: flex;
  flex-direction: column;
  /* or use display: grid for grid layout */
}
