
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


:root {
  --primary-color: #78E2DF;
  --secondary-color: #FFFFFF;
  --accent1-color: #6DA84D;
  --accent2-color: #FAA40F;
  --heading-font: 'Square Peg', sans-serif;
  --paragraph-font: 'Madimi One', sans-serif;
  --nav-background-color: #000000; 
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #CCCCCC;
  --nav-hover-background-color: #333333; 
}


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}


header {
  padding: 20px;
  background-color: var(--accent1-color);
}


p {
  padding: 25px;
}


nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}