/* Rafting Site CSS Styles */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave+Display&display=swap');

/* Define CSS Variables */
:root {
  --primary-color: #78E2DF; /* Tianny Bleu */
  --secondary-color: #FFFFFF; /* White */
  --accent1-color: #6DA84D; /* Asparagus */
  --accent2-color: #FAA40F; /* Orange(web) */
  --heading-font: 'PT Serif', serif;
  --paragraph-font: 'Sedgwick Ave Display', cursive; 
}


h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);

}


nav {
  background-color: var(--accent1-color);

}

nav a {
  color: var(--secondary-color);
  text-decoration: none;

}


footer {
  background-color: var(--accent2-color);
  color: var(--secondary-color);

}


.nav-social a {
  text-decoration: none;

}


.hero {
  position: relative;

}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  
}


article {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 20px;

}

article img {
  float: right;
  margin-left: 20px;

}


section {
  margin-top: 40px;

}


