* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
/* Add a CSS comment for the section */
/* Class Selectors */
/* You will be putting your class selector rules in this section. */

.box {
  margin: 1rem;
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

main img {
  float: right;
}

aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}

nav {
  background-color: steelblue;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-sizing: border-box;
}

p {
  padding: 0;
}

main {
  max-width: 840px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
