/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
/* Add a CSS comment for the section */
/* Class Selectors */
/* You will be putting your class selector rules in this section. */

/* Add the box class selector */
.box {
  margin: 1rem;
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

/* Adjusted aside rule example */
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

/* Float profile image */
main img {
  float: right;
}

/* Overlay state/country heading */
aside h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Adjust nav styling */
nav {
  background-color: steelblue;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}

/* Adjust h1 styling */
h1 {
  color: steelblue;
}

/* Adjust img styling */
img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-sizing: border-box;
}

/* Adjust p styling */
p {
  padding: 0;
}

/* Adjust main styling */
main {
  max-width: 840px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
